.page_header,
.page_footer .copyright_section{
    background-color: #2C3E50;
}

.hero,
.about_section{
    background-color: #1ABC9C;
}

.page_footer .info_section{
    background-color: #3A546D;
}


.avatar_picture{
    width: 250px;
    height: 250px;
}


@media (min-width:768px){

    .about_paragraph{
        column-count: 2;
    }

}